[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = nathan@nathanarthur.com
	name = Nathan Arthur
[push]
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	hooksPath = ~/.git-hooks
[pull]
	rebase = true
[coderabbit]
	machineId = cli/dba8a0bf170b4357bb2e4a1886b49777
